<ion-header>
  <ion-toolbar>
    <ion-title>Informes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <ion-item>
    <ion-label>Seleccione el informe para generar.</ion-label>
  </ion-item>
  <ion-card button (click)="imprimirTecnicos()">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="person-outline"></ion-icon>
        Informe de técnicos activos
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card button (click)="imprimirGastos()">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="wallet-outline"></ion-icon>
        Informe de gastos
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card button (click)="imprimirAtenciones()">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="people-outline"></ion-icon>
        Informe de atenciones
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
